.adobe/
.bash_history
.cache/
.color/
.cpan/
data/
.dbus/
dev/
data/
Dropbox/
.dropbox/
.dropbox-dist/
.esd_auth
.gimp-2.8/
.gnome2/
.gnome2_private/
.gnupg/
.gstreamer-0.10/
.java/
keepass.kdb
keepass.kdb.lock
Kindle/
.lesshst
.local/
.macromedia/
mnt/
.mozilla/
music/
.opera/
.pip/
.pki/
.puddletag/
.pulse-cookie/
.purple/
.shutter/
.smartgit/
.steam/
.steampath
.steampid
.TrueCrypt
.urxvt
.viminfo
.w3m
.Xauthority
.zdirs
.zsh_history
.thunderbird/
.jdownloader/
.kde4/
.pulse-cookie
.config/
